* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  background: linear-gradient(#21b3e1, #fff);
  overflow: hidden;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #b7e7f6;
}

nav {
  position: sticky;
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.logo {
  flex-basis: 15%;
}

.logo img {
  width: 100px;
}

.nav-link {
  flex: 1;
  text-align: center;
}

.nav-link ul li {
  display: inline-block;
  list-style: none;
  padding: 15px 5px;
  margin: 0 25px;
}

.nav-link ul li a {
  text-decoration: none;
  color: #b7e7f6;
  transition: color .3s ease;
}

.nav-link ul li a:hover {
   color: #ffffff;
   transition: color .3s ease;
}
.menu-icon {
  flex-basis: 15%;
}

.menu-icon img {
  width: 35%;
  float: right;
}

.content {
  position: absolute;
  width: 300px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.social-icons {
  width: 18px;
  margin: 0 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.social-icons img {
  padding-right: 30px;
}

.search-box {
  margin-top: 20px;
  border: 1px solid #b7e7f6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.search-box input {
  width: 83%;
  padding: 0 10px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #b7e7f6;
}

.search-box input::placeholder {
  color: #b7e7f6;
}

.search-box img {
  width: 20px;
  margin: 5px 10px;
}

#clouds {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  animation: clouds 5s linear infinite;
}

@keyframes clouds {
  0% {
    top: -100px;
  }
  20% {
    top: 100px;
  }
  80% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

#airplane {
  position: absolute;
  width: 200px;
  top: 180px;
  left: -250px;
  z-index: 2;
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% {
    left: -250px;
  }
  20% {
    left: 250px;
  }
  80% {
    left: 250px;
  }
  100% {
    left: 110%;
  }
}

#hotairballon {
  height: 350px;
  width: 700px;
  position: absolute;
  bottom: -400px;
  left: 50%;
  transform: translateX(-50%);
  animation: hotairballon 5s linear infinite;
}

@keyframes hotairballon {
  0% {
    bottom: -450px;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -450px;
  }
}

.balloon {
  width: 150px;
  opacity: 0.4;
}

.balloon1 {
  width: 350px;
}

.balloon2 {
  width: 180px;
  opacity: 0.5;
}

#stop {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 30px;
  left: 48%;
  transform: translateX(-50%);
  cursor: pointer;
}
